<div class="fix-box">
  <%= link_to  [current_user,idea],title:"#{idea.title}" do %>
    <h4><%= idea.title %></h4>
    <p><%= idea.customer_segments.count %> Customer Segments,
    <%= idea.problems.count %> Problems,
    <%= idea.solutions.count %> Solutions,
    <%= idea.metrics.count %> Metrics,
    <%= idea.uvps.count %> Uvps,
    <%= idea.advantages.count %> Advantages,
    <%= idea.channels.count %> Channels</p>
  <% end %>
</div>

