<div class="items clearfix" >
  <h1> <%= @idea.title %> </h1>

  <div class="idea-control pull-right">
    <%= link_to 'Edit idea', edit_user_idea_path(current_user,@idea) %> |
    <%= link_to 'Destory this idea', [current_user,@idea],method: :delete,confirm: "Are you sure?" %> |
    <%= link_to 'Back to all ideas', user_ideas_path(current_user) %>
  </div>

  <hr>

  <!-- Canvas -->
      <table id="ideacanvas" border="1">
        <tr>
          <td class="area" id="problems" colspan="2" rowspan="2">
            <h4>Problem</h4>
            <div class="items" id="three">
            <div class="order">
              <span>2</span>
            </div>
              <%- if @problems %>
                <ol>
                  <%= render @problems %>
                </ol>
              <% end %>
            </div>
          </td>
          <td class="area" id="solutions" colspan="2">
            <h4>Solution</h4>
            <div class="items" id="three">
              <div class="order">
                <span>4</span>
            </div>
            <%- if @solutions %>
              <ol>
              <%= render @solutions %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="area" id="uvps" colspan="2" rowspan="2">
            <h4>Unique Value Proposition</h4>
            <div class="items">
              <div class="order">
                <span>3</span>
            </div>
              <%- if @uvps %>
                <ol>
                  <%= render @uvps %>
                </ol>
              <% end %>
            </div>
          </td>
          <td  class="area" id="advantages" colspan="2">
            <h4>Unfair Advantage</h4>
            <div class="items">
              <div class="order">
                <span>9</span>
            </div>
            <%- if @advantages %>
              <ol>
              <%= render @advantages %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="area" id="customer_segments" colspan="2" rowspan="2">
            <h4>Customer Segments</h4>
            <div class="items" id="three">
              <div class="order">
                <span>1</span>
            </div>
              <%- if @customer_segments %>
                <ol>
                <%= render @customer_segments %>
              </ol>
            <% end %>
          </div>
          </td>
        </tr>
        <tr>
          <td  class="area" id="metrics" colspan="2">
            <h4>Key Metrics</h4>
            <div class="items">
              <div class="order">
                <span>8</span>
            </div>
            <%- if @metrics %>
              <ol>
              <%= render @metrics %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="area" id="channels" colspan="2">
            <h4>Channels</h4>
            <div class="items">
              <div class="order">
                <span>5</span>
            </div>
              <%- if @channels %>
                <ol>
                <%= render @channels %>
              </ol>
            <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td  class="area" id="structures" colspan="5">
            <h4>Cost Structure</h4>
            <div class="items" id="three">
              <div class="order">
                <span>7</span>
            </div>
              <%- if @structure %>
                <ol>
                <%= render @structure %>
              </ol>
            <% end %>
          </div>
          </td>
          <td  class="area" id="revenues" colspan="5">
            <h4>Revenue Streams</h4>
            <div class="items" id="three">
              <div class="order">
                <span>6</span>
            </div>
              <%- if @revenue %>
                <ol>
                <%= render @revenue %>
              </ol>
            <% end %>
          </div>
          </td>
        </tr>
      </table>
      <!-- /Canvas -->
    </div>
