<%- tablecell_id = current_user ? "area":"false" %>
<div class="items clearfix" >
  <h1> <%= @idea.title %> </h1>
  <%- if signed_in? %>
    <div class="input-append">
    <input type="text" readonly="" onClick="this.select()" spellcheck="false" id="url-field" value="<%= i_url(@idea.key) %>">
    <span class="add-on"><i class="icon-hand-left"></i>分享你的创业想法(只读)</span>
    <%= link_to '下载PDF版本', user_idea_path(@user,@idea,format: "pdf"),class:"btn btn-primary", target: "_blank" %> |
    <%- if @user == current_user %>
      <%= link_to '编辑想法', edit_user_idea_path(@user,@idea),class:"add-on " %> |
      <%= link_to '删除此想法', [@user,@idea],method: :delete,confirm: "Are you sure?",class:"add-on " %> |
    <% end %>
    <%= link_to '返回所有想法', user_path(@user),class:"add-on " %>
    </div>
  <% end %>

  <!-- Canvas -->
      <table id="ideacanvas" border="1">
        <tr>
          <td class="<%= tablecell_id %>" id="problems" colspan="2" rowspan="2">
            <h4><%= t("activerecord.models.problem") %></h4>
            <p class="description">列出你的客户所遇到的最主要的问题。</p>
            <div class="items" id="three">
            <div class="order">
              <span>2</span>
            </div>
              <%- if @problems %>
                <ol>
                  <%= render @problems %>
                </ol>
              <% end %>
            </div>
          </td>
          <td class="<%= tablecell_id %>" id="solutions" colspan="2">
            <h4><%= t("activerecord.models.solution") %></h4>
            <p class="description">针对目标客户的问题的解决方案和产品是什么？</p>
            <div class="items" id="three">
              <div class="order">
                <span>4</span>
            </div>
            <%- if @solutions %>
              <ol>
              <%= render @solutions %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="<%= tablecell_id %>" id="uvps" colspan="2" rowspan="2">
            <h4><%= t("activerecord.models.uvp") %></h4>
            <p class="description">你的产品能够提供给客户什么独特的价值？</p>
            <div class="items">
              <div class="order">
                <span>3</span>
            </div>
              <%- if @uvps %>
                <ol>
                  <%= render @uvps %>
                </ol>
              <% end %>
            </div>
          </td>
          <td  class="<%= tablecell_id %>" id="advantages" colspan="2">
            <h4><%= t("activerecord.models.advantage") %></h4>
            <p class="description">别人不可以迅速复制、用钱买来的竞争优势是什么？</p>
            <div class="items">
              <div class="order">
                <span>9</span>
            </div>
            <%- if @advantages %>
              <ol>
              <%= render @advantages %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="<%= tablecell_id %>" id="customer_segments" colspan="2" rowspan="2">
            <h4><%= t("activerecord.models.customer_segment") %></h4>
            <p class="description">列出你的最重要的三个客户细分。</p>
            <div class="items" id="three">
              <div class="order">
                <span>1</span>
            </div>
              <%- if @customer_segments %>
                <ol>
                <%= render @customer_segments %>
              </ol>
            <% end %>
          </div>
          </td>
        </tr>
        <tr>
          <td  class="<%= tablecell_id %>" id="metrics" colspan="2">
            <h4><%= t("activerecord.models.metric") %></h4>
            <p class="description">如何衡量自己的产品是否步入正轨？</p>
            <div class="items">
              <div class="order">
                <span>8</span>
            </div>
            <%- if @metrics %>
              <ol>
              <%= render @metrics %>
            </ol>
          <% end %>
        </div>
          </td>
          <td  class="<%= tablecell_id %>" id="channels" colspan="2">
            <h4><%= t("activerecord.models.channel") %></h4>
            <p class="description">你可以通过什么样的渠道找到你的潜在客户？</p>
            <div class="items">
              <div class="order">
                <span>5</span>
            </div>
              <%- if @channels %>
                <ol>
                <%= render @channels %>
              </ol>
            <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td  class="<%= tablecell_id %>" id="structures" colspan="5">
            <h4><%= t("activerecord.models.structure") %></h4>
            <p class="description">实现你的解决方案需要那些花费？</p>
            <div class="items" id="three">
              <div class="order">
                <span>7</span>
            </div>
              <%- if @structure %>
                <ol>
                <%= render @structure %>
              </ol>
            <% end %>
          </div>
          </td>
          <td  class="<%= tablecell_id %>" id="revenues" colspan="5">
            <h4><%= t("activerecord.models.revenue") %></h4>
            <p class="description">你的收入来源是哪些？</p>
            <div class="items" id="three">
              <div class="order">
                <span>6</span>
            </div>
              <%- if @revenue %>
                <ol>
                <%= render @revenue %>
              </ol>
            <% end %>
          </div>
          </td>
        </tr>
      </table>
      <!-- /Canvas -->
    </div>
