<p id="notice"><%= notice %></p>

<p>
  <%= @metric.title %>
</p>

<p>
  <%= @metric.description %>
</p>


<%= link_to 'Edit', edit_user_idea_metric_path(current_user,@idea,@metric) %> |
<%= link_to 'Back', user_idea_metrics_path(current_user,@idea) %>
