
<div class="items clearfix">
  <h3><%= t("activerecord.models.idea") %></h3>
  <%= link_to "New Idea",new_user_idea_path(current_user), class:"btn btn-success " %>
  <br />
  <br />
  <%- if @ideas %>
    <%= render @ideas %>
  <% end %>
</div>

<%- if false %>
<div class="items clearfix">
  <%= link_to user_projects_path(current_user) do %>
    <h3>Projects</h3>
  <% end %>
  <%= link_to "New Project",new_user_project_path(current_user), class:"btn btn-success " %>
  <br />
  <br />
  <%- if @projects %>
    <%= render @projects %>
  <% end %>
</div>
<% end %>
